* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(180deg, #2670c5, #ba4dec);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.header h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #2ced9d;
}
.header h1 span {
  font-size: 80px;
  color: #beffea;
  line-height: 55px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.main-pagevideo {
  display: grid;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  grid-template: "video lista" 50vh "info lista" auto/70% 30%;
  width: 80vw;
}
.main-pagevideo.teatro {
  grid-template: "video video" auto "info lista" auto/70% 30%;
}
.main-pagevideo.teatro .main-pagevideo-videoslist {
  margin-top: 2rem;
}
.main-pagevideo-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border-radius: 10px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  grid-area: video;
}
.main-pagevideo-player.teatro {
  width: calc(100% + 4rem);
  max-width: none;
  border-radius: 0px;
  height: 65vh;
  margin: 0 -2rem;
}
.main-pagevideo-player.fullscreen {
  background: red;
}
.main-pagevideo-player.fullscreen #teatro {
  display: none;
}
.main-pagevideo-player-video {
  width: 100%;
  height: 100%;
}
.main-pagevideo-player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: -60px;
  padding: 0 1rem 0.5rem;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
}
.main-pagevideo-player-controls.active {
  bottom: 0;
  opacity: 1;
}
.main-pagevideo-player-controls-duration {
  width: 100%;
}
.main-pagevideo-player-controls-duration-duracao {
  width: 100%;
  height: 5px;
}
.main-pagevideo-player-controls-funcao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-pagevideo-player-controls-funcao-play {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  background: none;
  color: #beffea;
  border: none;
}
.main-pagevideo-player-controls-funcao-play.play .fa-play {
  display: block;
}
.main-pagevideo-player-controls-funcao-play.play .fa-pause {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.play .fa-rotate-right {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.pause .fa-play {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.pause .fa-pause {
  display: block;
}
.main-pagevideo-player-controls-funcao-play.pause .fa-rotate-right {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.repet .fa-play {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.repet .fa-pause {
  display: none;
}
.main-pagevideo-player-controls-funcao-play.repet .fa-rotate-right {
  display: block;
}
.main-pagevideo-player-controls-funcao-volum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  justify-content: flex-start;
  overflow: hidden;
  transition: 0.5s;
  gap: 0.4rem;
}
.main-pagevideo-player-controls-funcao-volum:hover {
  width: 10.5rem;
}
.main-pagevideo-player-controls-funcao-volum input[type=range] {
  height: 5px;
}
.main-pagevideo-player-controls-funcao-volum-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  background: none;
  color: #beffea;
  border: none;
  justify-content: flex-start;
}
.main-pagevideo-player-controls-funcao-volum-btn .fa-volume-high {
  display: block;
}
.main-pagevideo-player-controls-funcao-volum-btn .fa-volume-low {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn .fa-volume-off {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn .fa-volume-xmark {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.low .fa-volume-high {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.low .fa-volume-low {
  display: block;
}
.main-pagevideo-player-controls-funcao-volum-btn.low .fa-volume-off {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.low .fa-volume-xmark {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.off .fa-volume-high {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.off .fa-volume-low {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.off .fa-volume-off {
  display: block;
}
.main-pagevideo-player-controls-funcao-volum-btn.off .fa-volume-xmark {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.xmark .fa-volume-high {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.xmark .fa-volume-low {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.xmark .fa-volume-off {
  display: none;
}
.main-pagevideo-player-controls-funcao-volum-btn.xmark .fa-volume-xmark {
  display: block;
}
.main-pagevideo-player-controls-funcao-time {
  color: #beffea;
}
.main-pagevideo-player-controls-propriedade {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-pagevideo-player-controls-propriedade-btn-teatro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  background: none;
  color: #beffea;
  border: none;
}
.main-pagevideo-player-controls-propriedade-btn-teatro.normal .fa-square {
  font-style: italic;
}
.main-pagevideo-player-controls-propriedade-btn-teatro.teatro .fa-square {
  font-style: normal;
}
.main-pagevideo-player-controls-propriedade-btn-fullscrem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  background: none;
  color: #beffea;
  border: none;
}
.main-pagevideo-player-controls-propriedade-btn-fullscrem.normal .fa-expand {
  display: block;
}
.main-pagevideo-player-controls-propriedade-btn-fullscrem.normal .fa-compress {
  display: none;
}
.main-pagevideo-player-controls-propriedade-btn-fullscrem.fullscrem .fa-expand {
  display: none;
}
.main-pagevideo-player-controls-propriedade-btn-fullscrem.fullscrem .fa-compress {
  display: block;
}
.main-pagevideo-infovideo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  grid-area: info;
}
.main-pagevideo-infovideo-descricao {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-pagevideo-videoslist {
  grid-area: lista;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.5rem;
}
.main-pagevideo-videoslist-cardvideos {
  background: #bbbbbb;
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}
.main-pagevideo-videoslist-cardvideos-imagem {
  background: #949494;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.main-pagevideo-videoslist-cardvideos-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-pagevideo-videoslist-cardvideos-infos-titulo {
  background: #e9e9e9;
  width: 100px;
  height: 20px;
  border-radius: 5px;
}
.main-pagevideo-videoslist-cardvideos-infos-duracao {
  background: #e9e9e9;
  width: 60px;
  height: 20px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
